header{
    background-image:url('../images/header_bg.png'),url('images/developer.png');
    background-repeat:no-repeat; 
    background-position: left bottom;
    width: auto;
    background-color: #ffcccc;
}
body{
    font-family:arial;
    height:auto;
    width: auto;
background-image: left bottom;
}
.one{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.one ul{
display:flex;
gap:25px;
text-decoration: none;
display:flex;
}
.two button{
    background-color:orangered;
    color:white;
    border:none;
    padding:10px;
    font-size:15px;
    border-radius:5px;
    margin-right:10px;
    font-weight:bold;
;
}
 .one h2{
    color:black;
    margin-left:10px;
    font-weight:bold;
}
.one h2 span{
    color:orangered;
}
.three h2{
    color:#474747;
    font-size:1.5em;
    padding:10px;
    margin-top:60px;
}
.three h1 {
    color:rgb(47, 43, 43);
    font-size:2em;
    margin-bottom:30px;;
}
.three p{
    color:#474747;
    font-size:1.05em;
    line-height:1.25em;
    display:flex;
    text-wrap: wrap;
}
.three{
    display:flex;
    justify-content:space-between;
    align-items:center;
 padding-left: 150px;
}
.six{
    display:flex;
    gap:20px;
    padding:10px;
}
.eight button{
    background:10px orangered;
    color:white;
    padding:5px;
    font-weight:bold;
    border:none;
    border-radius:5px;

}
button{
    color:orangered;
    background:white;
    padding:5px 8px;
    font-weight:bold;
    border:orangered 2px solid;
    border-radius:5px;
    cursor:pointer;
}
.eight img{
    height:400px;
    width:300px;
}
#a {
margin-top: 46px;
padding:36px 37px;
background-color:#fff8f3;
text-align: center;
width:600px;
justify-content: center;
margin-left:320px;
border-radius: 20px;
}
.a h4{
    width: bold;
    font-size:1.5em
}
.b ,p{
    color:#474747;
    line-height: 1.35em;
    line-break: wrap;
}
#a .c{
display:flex;
justify-content: space-around;
line-height:0px;
padding:37px;
}
#a .c, p{
    color:#474747
}
#a,.c ,h5{
    font-weight:bold;
    cursor:pointer;
    word-break: wrap;
}
#m{
text-align: center;
margin-top: 10px;
padding-top:40px;
display:flex;
width:auto;
height:600px;
justify-content: center;
}
#mehedi{
    display:flex;
    text-decoration: black;
    gap:20px;
    justify-content: center;
    padding-right:50px;
    margin-left:130px;
    
    

}
.l,.o,.v,.em{
    background-color: rgb(242, 247, 247);
    padding-right:40px;
    border-radius: 20px;
    height:auto;
    width: 150px;
    display:flex;
    flex-direction: column;
}
#m #mehedi img{
        padding-right:60%;
        padding-top:12%;   
    }
  .home,.home2{
      display:flex;
    gap:30px;
     justify-content: space-between;
     width: 300px;
}
.home,.home3{
    display:flex;
     justify-content: space-between;
     margin:30px;
     width:300px;
}
.home{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
    h4{
        gap:30px;
       font-weight: bold;
       margin:30px;
       
    }
    h2{
        margin:30px;
    }
 h6{
    padding-left: 0px;
    font-size:15px;
    color:#474747;
    margin-top:5px;
    }
.btn{
    align-items: center;
}

footer{
    margin-top:130px;
    background-color: #fff8f3;
    padding:130px 0px;
}
footer .footer-container{
    width: 71%;
    margin:0 auto;
    display:flex;
    gap:116px;
    max-width:1140px;
}
.footer-container.socal{
    max-width:562px;
}
.footer-container h2{
    color:#181818;
    font: size 35px;
    margin-bottom: 20px;
}
.footer-container.socal p{
    color:#474747;
    line-height:28px;
font-size:16px;
}
.footer-container.icon a{
    margin-right:24px;
}
.footer-containe form input[type="text"]{
    width:461px;
    padding:18px 31px;
    margin-bottom: 24px;
    border:none;
    color:#474747
}